@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: "Rubik", sans-serif;
    font-size: 10px;
    line-height: 1.5em;
    font-weight: 200;
}

h1{
    font-size: 9em;
    text-align: center;
    color: white;
    font-weight: 400;
}

h2{
    font-size: 2em;
}

.title {
    padding-top: 250px;
}
.image {
    margin: 5px;
    padding: 5px;
    height: 600px;
    background-image: url(/images/apple-pie.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
section {
    font-size: 3.5em;
    margin-left: 150px;
    margin-bottom: 0;
    padding: 50px;
}
.info {
    padding: 0;
    margin: 0;
    margin-top: 50px;
    margin-left: 500px;
    margin-bottom: 0;
}
hr {
    border: none;
    border-top: 3px double black;;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    padding: 0px;
    margin-left: 150px;
    margin-right: 150px;
}

.ingredient-list {
    list-style-type: "- ";
    margin-left: 50px;
}
li {
    font-size: 4em;
    font-weight: 200;
    margin-bottom: 10px;
}
.direction-list {
    list-style-type: "1)";
    margin-left: 50px;
}